<div class="main">
  <h1>Item's List</h1>
  <div class="addItem">
    <input type="text" placeholder="Add Item" class="addText" [(ngModel)]="newItem">
    <button (click) = "pushItem()">Add</button>
  </div>
  <ul>
    <li *ngFor="let i of items; let ind = index">
      {{i}}
      <span (click) = "removeItem(ind)">x</span>
    </li>
  </ul>
</div>
<!--<h2>{{name | uppercase}}</h2>-->
<!--<h2>{{name | lowercase}}</h2>-->
<!--<h2>{{day}}</h2>-->
<!--<h2>{{day | date: 'shortDate'}}</h2>-->
<!--<h2>{{day | date: 'fullDate'}}</h2>-->
<!--<h2>{{day | date: 'fullDate' | uppercase}}</h2>-->
{{arr | sort: 'ascending'}}
<br/>
{{arr | sort: 'descending'}}