<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!--<app-my-component></app-my-component>
  <app-members></app-members>
  <app-product></app-product>-->

  {{ obj.name }}
  {{ obj.id }}
  <ul>
    <li *ngFor = "let i of arr">{{i}}</li>
  </ul>
  <p *ngIf="isTrue; then firstTemplate else secondTemplate">Hello</p>
  <ng-template #firstTemplate>This is first template</ng-template>
  <ng-template #secondTemplate>This is second template</ng-template>
  <p *ngIf="myName == 'darshan'">Hello Darshan</p>

  <!--<a routerLink="/member">member</a>
  <a routerLink="/product">product</a>
  <router-outlet></router-outlet>-->
</div>

